<form action="" method="post">
  <label class="form-label" for="">Nome</label>
  <input type="text" class="form-control" name="" id="">
  <label class="form-label" for="">Empresa</label>
  <input type="text" class="form-control" name="" id="">
  <label class="form-label" for="">Email</label>
  <input type="email" class="form-control" name="" id="">
  <label class="form-label" for="">Senha</label>
  <input type="password" class="form-control" name="" id="">
  <label class="form-label" for="">Confirme a senha</label>
  <input type="password" class="form-control" name="" id="">
  <button type="button" class="btn btn-primary">Cadastrar</button>
  <button type="button" class="btn btn-secondary mr-2" [routerLink]="['/']">Voltar</button>
</form>