<form action="">
  <label for="username" class="form-label">Username</label>
  <input type="text" class="form-control mb-2">

  <label for="senha" class="form-label">Senha</label>
  <input type="password" name="" id="" class="form-control mb-2">

  <button type="button" class="mb-2 btn btn-primary" [routerLink]="['/home']">Entrar</button>
  <p>Não e cadastrado? Realize agora e marque seu evento!</p>
  <a class="mb-2 btn btn-secondary" [routerLink]="['/auth/register']" routerLinkActive="router-link-active"> Cadastre</a>

</form>