<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nome do evento</h5>
    <p class="card-text">Descrição do evento.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Data inicio: </li>
    <li class="list-group-item">Data fim:</li>
  </ul>
  <div class="card-body text-end">
    <button type="button" class="btn btn-primary">Editar</button>
    <button type="button" class="btn btn-danger" (click)="openSm(content)">Excluir</button>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir o evento? </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Não</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Sim</button>
  </div>
</ng-template>